# ignore OS X desktop files
.DS_Store

# ignore various editor backups
*~
*.swp

# ignore EAGLE backup files using globbing regex patterns 
# for help: http://git-scm.com/docs/gitignore
*.s#[0-9]
*.b#[0-9]
*.l#[0-9]

# ignore compiled Python files
*.pyc
